* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    font-family: Arial, sans-serif; /* Example font */
}

.nav-bar {
    background-color: #EDEDED; /* Dark background color */
    overflow: hidden;
}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
     /* Adjust logo size */
    height: 50px;
    padding-left: 2em;
    margin-left: 2em;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    padding: 0 15px;
    margin-right: 0.5em;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
   padding-right: 1em;
 
  
}

.nav-links ul li a:hover {
    color: #DA0037; /* Light grey on hover */
}
.hamburger {
    display: none;
   
}


/* Responsive Styles */
@media (max-width: 1140px) {
    .nav-links ul {
        flex-direction: column;
        width: 100%;
        display: none; /* Hide the navigation links initially */
    }
    .logo{
        margin-right: 4em;
    }

    .nav-links ul li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-links ul.active {
        display: block; /* Show the navigation links when active */
    }

    .nav-bar nav {
        flex-direction: column;
    }

    .hamburger {
     display: block;
     position: absolute;
     right: 2em;
 transform: translateY(40%);
   font-size: 30px;
        cursor: pointer;
        
    }
  
}
@media (max-width: 450px) {
    .nav-links ul {
        flex-direction: column;
        width: 100%;
        display: none; /* Hide the navigation links initially */
    }
     .logo{
        padding-right: 5em;
    }

    .nav-links ul li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-links ul.active {
        display: block; /* Show the navigation links when active */
    }

    .nav-bar nav {
        flex-direction: column;
    }

    .hamburger {
     display: block;
     position: absolute;
     right: 2em;
 transform: translateY(40%);
   font-size: 30px;
        cursor: pointer;
        
    }
  
}


/* Add this in your HTML just inside the <nav> before the .logo div for the hamburger menu icon */

